<%- include("header2", {}) %>
<script>
    var currentUser = '<%= user.username %>';
</script>

<h1><%= title %></h1>
<p>Welcome to <%= title %>, <%= user.username %>!</p>
<ul id="messages"></ul>
<form id="form-chat">
    <input id="input-chat">
    <button>Send</button>
</form>


<%- include("footer", {}) %>


